.sgn {
  height: 85vh;
  display: flex;

  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
}
nav {
  position: fixed;
  padding: 25px 60px;
  z-index: 1;
}
nav a img {
  width: 67px;
}
.form-wrapper {
  position: absolute;
  left: 45%;
  top: 50%;
  border-radius: 4px;
  padding: 70px;
 
  transform: translate(-50%, -50%);
  background: rgb(35, 36, 32);
}
.form-wrapper h2 {
  color: #eaff00;
  padding-left: 20px;
  font-size: 2rem;
}
.form-wrapper form {
  margin: 25px 0 65px;
}
form .form-control {
  height: 50px;
  position: relative;
  margin-bottom: 16px;
}
.form-control input {
 width: 100%;
  padding: 16px 0;
  font-size: 1rem;
  background: #000000;
  color: #fff;
  font-weight: 900;
  border-radius: 4px;
  border: none;
  outline: none;
  margin: 25px 0 10px;
  cursor: pointer;
  transition: 0.1s ease;
  
}
.form-control input:is(:focus, :valid) {
  color: #ffffff;
  padding: 16px 20px 0;
}
.form-control label {
  position: absolute;
  display: flex;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  pointer-events: none;
  color: #8c8c8c;
  transition: all 0.1s ease;
}
.form-control input:is(:focus, :valid)~label {
  font-size: 0.75rem;
  transform: translateY(-130%);
}
form button {
  width: 100%;
  padding: 16px 0;
  font-size: 1rem;
  background: #f6ff00;
  color: rgb(255, 0, 0);
  font-weight: 900;
  border-radius: 4px;
  border: none;
  outline: none;
  margin: 25px 0 10px;
  cursor: pointer;
  transition: 0.1s ease;
}
form button:hover {
  color: #ff0000;
}
.form-wrapper a {
  text-decoration: none;
}
.form-wrapper a:hover {
  text-decoration: underline;
}
.form-wrapper :where(label, p, small, a) {
  color: #ffffff;
}
form .form-help {
  display: flex;
  justify-content: space-between;
}
form .remember-me {
  display: flex;
}
form .remember-me input {
  margin-right: 5px;
  accent-color: #b3b3b3;
}
form .form-help :where(label, a) {
  font-size: 0.9rem;
}
.form-wrapper p a {
  color: #ffffff;

}
.form-wrapper small {
  display: block;
  margin-top: 15px;
  color: #ffffff;
}
.form-wrapper small a {
  color: #0071eb;
}
@media (max-width: 740px) {
  body::before {
      display: none;
  }
  nav, .form-wrapper {
      padding: 20px;
  }
  nav a img {
      width: 140px;
  }
  .form-wrapper {
      width: 100%;
      top: 43%;
  }
  .form-wrapper form {
      margin: 25px 0 40px;
  }
}

 